* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: darkblue;
  --heading-color: darkblue;
  --dotted-underline: 3px dotted #565353d9;
}

header,
.grid,
footer {
  max-width: 840px;
  margin: 0 auto;
}

header {
  background-color: var(--background-color);
  padding: 10px;
}

nav {
  padding: 14px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: #fbfbb1a2;
  display: block;
  padding: 10px;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
  max-width: 840px;
  padding: 15px 8px 20px 0;
  grid-column: 2/3;
}

aside {
  width: 25em;
  text-align: center;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}

aside img {
  width: 200px;
  height: auto;
}

h1 {
  color: var(--heading-color);
  border-bottom: 2px dashed;
}

main img {
  width: 150px;
  height: auto;
  border: 1px solid black;
  padding: 2px;
  margin-bottom: 1;
  box-shadow: 0 0 30px gray;
  float: right;
}

p {
  padding: 10px;
  font-family: cursive;
}

h2 {
  position: absolute;
  left: 103px;
  top: 20px;
  color: rgb(18, 64, 76);
}

footer {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 2px;
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

/* Class Selectors */

.box {
  margin: 1rem;
  border: 1px solid rgba(118, 112, 112, 0.2);
  padding: 1rem;
  background-color: rgb(114, 136, 114);
  color: honeydew;
  font-size: 0.9rem;
  font-family: "Times New Roman", Times, serif;
  font-style: oblique;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}